<?xml version="1.0"?>
<robot xmlns:xacro="https://www.ros.org/wiki/xacro">

  <xacro:macro name="ujang_ros2_control" params="name">

    <ros2_control name="ujang_ros2_control" type="system">

      <hardware>
        <plugin>mock_components/GenericSystem</plugin>
        <!-- <param name="calculate_dynamics">false</param>
        <param name="custom_interface_with_following_offset"></param>
        <param name="disable_commands">false</param>
        <param name="mock_gpio_commands">false</param>
        <param name="mock_sensor_commands">false</param>
        <param name="position_state_following_offset">0.0</param> -->
      </hardware>

      <joint name="joint_coxa">
        <command_interface name="position" />
        <state_interface name="position" />
      </joint>
      <joint name="joint_femur">
        <command_interface name="position" />
        <state_interface name="position" />
      </joint>
      <joint name="joint_tibia">
        <command_interface name="position" />
        <state_interface name="position" />
      </joint>

    </ros2_control>

  </xacro:macro>

</robot>